[Unit]
Description={{ s.name }}
After=network.target

[Service]
Type=simple
User=website
Group=website
Environment="TIDE_DIR={{ s.loc }}"
Environment="TIDE_ADDR=localhost"
Environment="TIDE_PORT={{ s.port }}"
Environment="TIDE_DB=mongodb://localhost:27017/pennbauman"
ExecStart=/usr/bin/{{ s.name }}

[Install]
WantedBy=multi-user.target
