[Unit]
Description=server.pennbauman.com
After=network.target

[Service]
Type=simple
User=root
Group=root
Environment="TIDE_DIR=/var/website"
Environment="TIDE_ADDR=localhost"
Environment="TIDE_PORT=8070"
Environment="PENNBAUMAN_COM=/var/website/pennbauman-com"
Environment="SECRETS_FILE=/root/secrets.toml"
ExecStart=/usr/bin/server.pennbauman.com

[Install]
WantedBy=multi-user.target
